<ion-view  view-title="学习记录">
    <ion-content>
        <ion-list>
            <div collection-repeat="course in courses_history" collection-item-width="100%" >
                <a  class="item item-thumbnail-left" ng-href="#/tab/user/courses/{{course.course_id}}">
                    <img style="height:80px; width:80px" ng-src="{{course.cover_url}}">
                    <h2>{{course.course_name}}</h2>
                    <p>选课人数：{{course.study_num}}</p>
                    <p>开课时间：{{course.open_time *1000 | date:'yyyy-MM-dd'}}</p>
                </a>
            </div>
        </ion-list>
    </ion-content>
</ion-view>