
<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<!--   <div class="padding-left padding-right padding-top pading-bottom"  collection-repeat="resource in resources" collection-item-width="'25%'"
    collection-item-height="200px">
   <a class="item item-thumbnail-top my-course-item"
    ng-href="#/courses/{{resource.id}}">
      <img ng-src="{{resource.image}}">
      <h2>{{resource.name}}</h2>
  </a>
  </div>
 -->
<ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list>
      <ion-item class="item-button-right" collection-repeat="resource in lesson.resources" ng-click="openResource(resource)" >
      <h2>{{resource.name}}</h2>
      <p>下载进度:{{resource.progress}}%</p>
       <p>文档类型:{{resource.mime_type}}</p>
      <a  class="button button-clear icon" ng-class= "{'ion-ios-cloud-download-outline':!resource.downloading,'ion-ios-pause-outline':resource.downloading}" ng-click="downloadResource(resource)" ng-if = '!resource.finishDownload'></a>
      </ion-item>
    </ion-list>

