
<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<!--   <div class="padding-left padding-right padding-top pading-bottom"  collection-repeat="resource in resources" collection-item-width="'25%'"
    collection-item-height="200px">
   <a class="item item-thumbnail-top my-course-item"
    ng-href="#/courses/{{resource.id}}">
      <img ng-src="{{resource.image}}">
      <h2>{{resource.name}}</h2>
  </a>
  </div>
 -->
<ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
</ion-refresher>
    <ion-list>
      <ion-item collection-repeat="resource in resources" ng-click="openResource(resource)">
     {{resource.name}}
            <button class="button" ng-click="downloadResource(resource)">下载</button>
      </ion-item>
    </ion-list>

