<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view  view-title="我" hide-back-button="true">
<ion-content>
    <ion-list>
        <ion-item class="item-avatar item-divider">
            <img src="{{user.icon_path}}">
            <h2>{{user.name}}</h2>
            <p>{{user.true_name}}</p>
        </ion-item>
        <div class="item-divider">
        <ion-item ng-repeat="item in listItems" style="" class="item-icon-left" ng-class="{'item-icon-right':{{item.hasDetails}}}"
                ng-click="click($index)">
            <i style="font-size: 20px" class="icon {{item.iconClass}}"></i>
            <p>{{item.text}}</p>
            <i class="icon ion-chevron-right icon-accessory" ng-if="item.hasDetails"></i>
        </ion-item>

        </div>
        <ion-item style="border-width: 0; margin-top: 2px;" class="item-divider">
            <button class="button button-block button-positive" ng-click="logout()">注销</button>
        </ion-item>
    </ion-list>
</ion-content>
</ion-view>